.main-game-container {
    display: flex;
    justify-content: center;
    background-image: url("../../public/footballfield.png");
    background-size: contain;
    height: 100vh;
}

.center-container {
    display: flex;
    flex-direction: column;
    border: solid black 3px;
    border-radius: 15px;
    min-width: 1150px;
    height: fit-content;
    background-color: rgba(245, 245, 245);
    padding-bottom: 20px;
    margin-top: 43px;
}

.game-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1084px;
}

.football-field {
    background-image: url("../../public/footballfield.png");
    background-attachment: fixed;
    width: calc(100vh);
}

.game-list-header {
    display: flex;
    justify-content: center;
    margin-top: .5%;
    margin-bottom: 1.4%;
}

.game-card {
    border: solid darkblue 1px;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    width: 250px;
    border-radius: 5px;
    margin: 10px;
    padding: 3px;
}

.time-text {
    display: flex;
    justify-content: right;
    margin-right: 7px;
    font-size: 14px;
}

.game-text {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.score-text {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 7px;
    font-weight: bold;
}

.team-row {
    display: flex;
    flex-direction: row;
    margin: 0 5px 0 5px;
}